# Build directories

out/
bin/
build/
bin-w/
build-w/
bin-emscripten/
build-emscripten/
release/
releases/

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# GBA ROM files

*.gba
